Repository akveo/react-native-ui-kitten, pull requests merged in 2018-12, with the labels that each got.

#180 fix(rkText): style prop definition. Closes #177
  src/components/button/rkButton.js
Labels: module:ui, needs review

#182 fix(package): update npmignore. Closes #179
  .npmignore
Labels: module:build, needs review

#191 feat(theme): token-tool integration
  jest.config.js
  src/framework/theme/component/index.ts
  src/framework/theme/component/mapping/index.ts
  src/framework/theme/component/mapping/mappingContext.ts
  src/framework/theme/component/mapping/mappingProvider.component.tsx
  src/framework/theme/component/mapping/type.ts
  src/framework/theme/component/style/index.ts
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/component/style/styleProvider.component.tsx
  src/framework/theme/component/theme/index.ts
  src/framework/theme/component/theme/themeConsumer.component.tsx
  src/framework/theme/component/theme/themeContext.ts
  src/framework/theme/component/theme/themeProvider.component.tsx
  src/framework/theme/component/theme/type.ts
  src/framework/theme/component/themeConsumer.component.tsx
  src/framework/theme/component/themeConsumerStyled.component.tsx
  src/framework/theme/service/index.ts
  src/framework/theme/service/mappingUtil.service.ts
  src/framework/theme/service/reactContext.service.ts
  src/framework/theme/service/themeUtil.service.ts
  src/framework/theme/tests/config.ts
  src/framework/theme/tests/mapping.spec.tsx
  src/framework/theme/tests/style.spec.tsx
  src/framework/theme/tests/theme.spec.tsx
  src/framework/tsconfig.json
  src/framework/ui/index.ts
  src/framework/ui/sample/sample.component.spec.tsx
  src/framework/ui/sample/sample.component.tsx
  src/playground/App.js
  src/playground/src/App.component.tsx
  src/playground/src/app.component.tsx
  src/playground/src/theme-token/index.ts
  src/playground/src/theme-token/mapping.json
  src/playground/src/theme-token/theme.json
  tsconfig.jest.json
  tsconfig.json
Labels: module:theme, needs review, next

#196 fix example app readme. Closes #189
  example/README.md
Labels: module:playground, needs review

#204 feat(ci): integrates coveralls
  .coveralls.yml
  .travis.yml
  README.md
  jest.config.js
  package.json
Labels: module:docs, needs review, next

#205 feat(playground): home screen. Closes #203
  package.json
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/component/theme/themeConsumer.component.tsx
  src/framework/ui/index.ts
  src/playground/package.json
  src/playground/src/app.component.tsx
  src/playground/src/navigation/index.ts
  src/playground/src/navigation/navigation.component.tsx
  src/playground/src/ui/component/index.ts
  src/playground/src/ui/component/sample.component.tsx
  src/playground/src/ui/screen/home.component.tsx
  src/playground/src/ui/screen/index.ts
  src/playground/src/ui/screen/sample.component.tsx
Labels: module:playground, needs review, next

#209 refactor(theme): simplify theme mapping config
  src/framework/theme/component/mapping/type.ts
  src/framework/theme/component/style/styleProvider.component.tsx
  src/framework/theme/index.ts
  src/framework/theme/service/mappingUtil.service.ts
  src/framework/theme/service/themeUtil.service.tsx
  src/framework/theme/tests/config.ts
  src/framework/theme/tests/mapping.spec.tsx
  src/framework/theme/tests/style.spec.tsx
  src/framework/theme/tests/theme.spec.tsx
  src/playground/src/app.component.tsx
  src/playground/src/theme-token/index.ts
  src/playground/src/theme-token/mapping.json
Labels: module:theme, needs review, next

#210 feat(theme): state mappings
  src/framework/theme/component/mapping/type.ts
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/service/mappingUtil.service.ts
  src/framework/theme/service/themeUtil.service.tsx
  src/framework/theme/tests/config.ts
  src/framework/theme/tests/mapping.spec.tsx
  src/framework/theme/tests/style.spec.tsx
  src/framework/theme/tests/theme.spec.tsx
  src/playground/src/theme-token/mapping.json
  src/playground/src/theme-token/theme.json
  src/playground/src/ui/component/sample.component.tsx
  src/playground/src/ui/screen/sample.component.tsx
Labels: module:theme, needs review, next

#220 fix(theme): mapping application order. Closes #218
  src/framework/theme/service/mappingUtil.service.ts
  src/framework/theme/service/styleUtil.service.ts
  src/framework/theme/tests/__snapshots__/style.spec.ts.snap
  src/framework/theme/tests/config/mapping.json
  src/framework/theme/tests/style.spec.ts
Labels: module:theme, next
