Repository akveo/react-native-ui-kitten, pull requests merged in 2019-01, with the labels that each got.

#221 feat(theme): style consumer dispatch actions
  jest.config.js
  jest.config.snapshot.js
  package.json
  src/framework/theme/component/style/index.ts
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/component/style/type.ts
  src/framework/theme/index.ts
  src/framework/theme/service/index.ts
  src/framework/theme/service/mapping/index.ts
  src/framework/theme/service/mapping/mapping.service.ts
  src/framework/theme/service/mapping/mapping.spec.config.ts
  src/framework/theme/service/mapping/mapping.spec.ts
  src/framework/theme/service/style/index.ts
  src/framework/theme/service/style/style.service.ts
  src/framework/theme/service/style/style.spec.config.ts
  src/framework/theme/service/style/style.spec.ts
  src/framework/theme/service/style/style.spec.ts.snap
  src/framework/theme/service/style/styleConsumer.service.ts
  src/framework/theme/service/style/styleConsumer.spec.tsx
  src/framework/theme/service/styleConsumer.service.ts
  src/framework/theme/service/theme/index.ts
  src/framework/theme/service/theme/theme.service.ts
  src/framework/theme/service/theme/theme.spec.config.ts
  src/framework/theme/service/theme/theme.spec.tsx
  src/framework/theme/tests/config/index.ts
  src/framework/theme/tests/config/mapping.json
  src/framework/theme/tests/config/theme-inverse.json
  src/framework/theme/tests/config/theme.json
  src/framework/ui/radio/radio.component.tsx
  src/framework/ui/radio/radio.spec.config.ts
  src/framework/ui/radio/radio.spec.tsx
  src/framework/ui/radio/radio.spec.tsx.snap
  src/framework/ui/tests/config/index.ts
  src/framework/ui/tests/config/mapping.json
  src/framework/ui/tests/config/theme.json
  src/playground/src/theme-token/mapping.json
Labels: module:theme, next

#225 refactor(theme): optimize module imports
  src/framework/theme/component/mapping/index.ts
  src/framework/theme/component/mapping/mappingContext.ts
  src/framework/theme/component/mapping/mappingProvider.component.tsx
  src/framework/theme/component/style/index.ts
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/component/style/styleProvider.component.tsx
  src/framework/theme/component/theme/index.ts
  src/framework/theme/component/theme/themeConsumer.component.tsx
  src/framework/theme/component/theme/themeContext.ts
  src/framework/theme/component/theme/themeProvider.component.tsx
  src/framework/theme/service/style/style.service.ts
  src/framework/theme/service/style/style.spec.ts
  src/framework/theme/service/style/styleConsumer.spec.tsx
Labels: module:theme, next

#227 feat(theme): eva integration
  jest.config.js
  package-lock.json
  package.json
  src/framework/theme/component/mapping/index.ts
  src/framework/theme/component/mapping/mapping.spec.tsx
  src/framework/theme/component/mapping/mappingContext.ts
  src/framework/theme/component/mapping/mappingProvider.component.tsx
  src/framework/theme/component/mapping/type.ts
  src/framework/theme/component/style/index.ts
  src/framework/theme/component/style/style.spec.config.ts
  src/framework/theme/component/style/style.spec.tsx
  src/framework/theme/component/style/style.spec.tsx.snap
  src/framework/theme/component/style/styleConsumer.component.tsx
  src/framework/theme/component/style/styleProvider.component.tsx
  src/framework/theme/component/theme/index.ts
  src/framework/theme/component/theme/theme.spec.config.ts
  src/framework/theme/component/theme/theme.spec.tsx
  src/framework/theme/component/theme/themeConsumer.component.tsx
  src/framework/theme/component/theme/themeContext.ts
  src/framework/theme/component/theme/themeProvider.component.tsx
  src/framework/theme/component/theme/type.ts
  src/framework/theme/index.ts
  src/framework/theme/package.json
  src/framework/theme/service/index.ts
  src/framework/theme/service/mapping/index.ts
  src/framework/theme/service/mapping/mapping.service.ts
  src/framework/theme/service/mapping/mapping.spec.ts
  src/framework/theme/service/style/style.service.ts
  src/framework/theme/service/style/style.spec.config.ts
  src/framework/theme/service/style/style.spec.ts
  src/framework/theme/service/style/style.spec.ts.snap
  src/framework/theme/service/style/styleConsumer.service.ts
  src/framework/theme/service/style/styleConsumer.spec.tsx
  src/framework/theme/service/theme/theme.service.ts
  src/framework/theme/service/theme/theme.spec.tsx
  src/framework/theme/type.ts
  src/framework/tsconfig.json
  src/framework/ui/index.ts
  src/framework/ui/package.json
  src/framework/ui/radio/radio.component.tsx
  src/framework/ui/radio/radio.spec.config.ts
  src/framework/ui/radio/radio.spec.tsx
  src/framework/ui/radio/radio.spec.tsx.snap
  src/playground/metro.config.js
  src/playground/src/app.component.tsx
  src/playground/src/navigation/navigation.component.tsx
  src/playground/src/theme-token/index.ts
  src/playground/src/theme-token/mapping.json
  src/playground/src/theme-token/theme.json
  src/playground/src/ui/screen/home.component.tsx
  src/playground/src/ui/screen/radio.component.tsx
  src/playground/tsconfig.json
  tsconfig.jest.json
  tsconfig.json
Labels: module:theme, next

#237 feat(ui): radio group component
  src/framework/ui/index.ts
  src/framework/ui/radioGroup/radioGroup.component.tsx
  src/framework/ui/radioGroup/radioGroup.spec.config.ts
  src/framework/ui/radioGroup/radioGroup.spec.tsx
  src/playground/src/ui/screen/index.ts
  src/playground/src/ui/screen/radioGroup.component.tsx
Labels: module:ui, needs review, next

#238 feat(ui): checkbox component
  src/framework/ui/checkbox/checkbox.component.tsx
  src/framework/ui/checkbox/checkbox.spec.config.ts
  src/framework/ui/checkbox/checkbox.spec.tsx
  src/framework/ui/drawable/checkmark/checkmark.component.tsx
  src/framework/ui/index.ts
  src/playground/src/ui/screen/checkbox.component.tsx
  src/playground/src/ui/screen/index.ts
Labels: module:ui, needs review, next

#246 refactor(playground): update playground to use typescript
  src/playground/src/app.component.tsx
  src/playground/src/navigation/navigation.component.tsx
  src/playground/src/ui/screen/home.component.tsx
  src/playground/src/ui/screen/radio.component.tsx
  src/playground/src/ui/screen/radioGroup.component.tsx
Labels: module:playground, needs review

#240 feat(ui): layout component
  package-lock.json
  package.json
  src/framework/theme/service/style/styleConsumer.service.ts
  src/framework/ui/index.ts
  src/framework/ui/layout/layout.component.tsx
  src/framework/ui/layout/layout.spec.config.ts
  src/framework/ui/layout/layout.spec.tsx
  src/framework/ui/layout/layout.spec.tsx.snap
  src/playground/src/app.component.tsx
  src/playground/src/ui/screen/index.ts
  src/playground/src/ui/screen/layout.component.tsx
Labels: module:ui, next

#239 feat(ui): toggle component
  package-lock.json
  src/framework/ui/common/checkmark.component.tsx
  src/framework/ui/index.ts
  src/framework/ui/toggle/toggle.component.tsx
  src/framework/ui/toggle/toggle.spec.config.ts
  src/framework/ui/toggle/toggle.spec.tsx
  src/framework/ui/toggle/toggle.spec.tsx.snap
  src/playground/package-lock.json
  src/playground/src/ui/screen/index.ts
  src/playground/src/ui/screen/toggle.component.tsx
Labels: module:ui, next
