Repository akveo/react-native-ui-kitten, pull requests merged in 2019-10, with the labels that each got.

#658 docs(design-system): theme variable tables
  docs/package-lock.json
  docs/package.json
  docs/src/app/@theme/components/header/header.component.ts
  docs/src/app/blocks/blocks.module.ts
  docs/src/app/blocks/components/theme-block/theme-block.component.html
  docs/src/app/blocks/components/theme-block/theme-block.component.ts
  docs/src/app/blocks/components/theme-block/theme-block.model.ts
  docs/src/app/blocks/components/theme-block/theme-block.viewmodel.ts
  docs/src/articles/design-system/custom-theme.md
  docs/src/articles/design-system/customize-theme.md
  docs/src/articles/design-system/theme.md
  docs/src/articles/design-system/use-theme-variables.md
  docs/src/articles/getting-started/what-is-ui-kitten.md
  docs/src/structure.ts
  scripts/gulp/gulpfile.ts
  scripts/gulp/tasks/docs/create-doc-themes.ts
  scripts/gulp/tasks/docs/docs.ts
  src/framework/ui/calendar/calendar.spec.tsx
  src/framework/ui/calendar/rangeCalendar.spec.tsx
Labels: module:docs

#659 docs(getting-started): add @ui-kitten/eva-icons to what-is guide
  docs/src/articles/getting-started/what-is-ui-kitten.md
Labels: module:docs

#671 docs(components): fix overflow-menu showcases
  src/playground/src/ui/screen/overflowMenu/overflowMenuShowcase.component.tsx
  src/playground/src/ui/screen/showcases/overflowMenu/overflowMenuAppearance.component.tsx
  src/playground/src/ui/screen/showcases/overflowMenu/overflowMenuExternalSourceIcons.component.tsx
  src/playground/src/ui/screen/showcases/overflowMenu/overflowMenuSimpleUsage.component.tsx
  src/playground/src/ui/screen/showcases/overflowMenu/overflowMenuWithDisabledItems.component.tsx
  src/playground/src/ui/screen/showcases/overflowMenu/overflowMenuWithIcons.component.tsx
Labels: module:docs, module:playground, needs review

#672 docs(components): fix calendar showcases
  src/playground/src/ui/screen/calendar/calendarCustomItem.component.tsx
  src/playground/src/ui/screen/calendar/type.ts
  src/playground/src/ui/screen/showcases/calendar/calendarBoundingMonth.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarCustomDay.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarCustomLocale.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarFilterShowcase.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarMoment.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarSimpleUsage.component.tsx
Labels: module:docs, module:playground, needs review

#673 fix(ui): button-group render issues
  src/framework/ui/buttonGroup/buttonGroup.component.tsx
Labels: module:ui, needs review

#678 feat(docs): live-examples warning add
  docs/src/app/@theme/styles/styles.scss
  docs/src/app/blocks/blocks.module.ts
  docs/src/app/blocks/components/live-example-block/live-example-block.component.html
  docs/src/app/blocks/components/live-example-block/live-example-block.component.scss
Labels: module:docs

#681 fix(ui): calendar min-max navigation
  src/framework/ui/calendar/baseCalendar.component.tsx
  src/framework/ui/calendar/calendar.component.tsx
  src/framework/ui/calendar/components/calendarHeader.component.tsx
  src/playground/src/ui/screen/calendar/type.ts
  src/playground/src/ui/screen/showcases/calendar/calendarBounds.component.tsx
  src/playground/src/ui/screen/showcases/calendar/index.ts
Labels: module:ui, needs review

#685 feat(ui): calendar - start day of week
  src/date-fns/dateFnsDate.service.spec.ts
  src/date-fns/dateFnsDate.service.ts
  src/framework/ui/calendar/calendar.component.tsx
  src/framework/ui/calendar/service/nativeDate.service.spec.ts
  src/framework/ui/calendar/service/nativeDate.service.ts
  src/framework/ui/index.ts
  src/playground/src/ui/screen/calendar/type.ts
  src/playground/src/ui/screen/showcases/calendar/calendarCustomLocale.component.tsx
  src/playground/src/ui/screen/showcases/calendar/calendarStartDayOfWeek.component.tsx
  src/playground/src/ui/screen/showcases/calendar/index.ts
Labels: module:date, module:ui, needs review

#684 feat(ui): select preselected values handling add
  src/framework/ui/index.ts
  src/framework/ui/radio/radio.spec.tsx.snap
  src/framework/ui/select/select.component.tsx
  src/framework/ui/select/select.spec.tsx
  src/framework/ui/select/selectGroupOption.component.tsx
  src/framework/ui/select/selectOption.component.tsx
  src/framework/ui/select/selectOptionsList.component.tsx
  src/framework/ui/select/selection.strategy.ts
  src/framework/ui/support/tests/mapping.json
  src/framework/ui/support/tests/theme.json
  src/playground/package-lock.json
  src/playground/src/ui/screen/select/selectShowcase.component.tsx
  src/playground/src/ui/screen/select/type.tsx
  src/playground/src/ui/screen/showcases/select/index.ts
  src/playground/src/ui/screen/showcases/select/selectMultiPreselectedInline.component.tsx
  src/playground/src/ui/screen/showcases/select/selectMultiPreselectedReference.component.tsx
Labels: module:ui

#689 fix(ui): calendar - date bounds disabling behavior
  src/framework/ui/calendar/baseCalendar.component.tsx
Labels: module:ui, needs review

#698 docs(guides): fix application provider guide link
  docs/src/articles/guides/create-screen.md
  docs/src/articles/guides/setup-icons-module.md
  docs/src/articles/guides/setup-vector-icons.md
  docs/src/articles/guides/using-web.md
  src/framework/theme/style/styleConsumer.service.ts
Labels: module:docs, needs review

#703 docs(components): unify react-navigation samples
  docs/src/structure.ts
  src/framework/ui/bottomNavigation/bottomNavigation.component.tsx
  src/framework/ui/drawer/drawer.component.tsx
  src/framework/ui/tab/tabBar.component.tsx
Labels: module:docs, module:ui, needs review
